<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue 中的条件渲染</title>

    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <!--if 是不存在，直接不渲染-->
        <!--if和else必须连在一起用-->
        <div v-if="show">{{message}}</div>
        <div v-else>Not display</div>
        <!--display:none-->
        <!-- 性能相对较高-->
        <div v-show="show">{{message}}</div>

        <div v-if="flag === 'a'">a</div>
        <div v-else-if="flag === 'b'">b</div>
        <div v-else>c</div>


        <!--key关系到DOM组件复用-->
        <div v-if="show">
            用户名：<input key="username"/>
        </div>
        <div v-else>
            邮箱名: <input key="email"> 
        </div>
    </div>
</body>

<script>
    var vm = new Vue({
        el:"#app",
        data:{
            show:false,
            message:"hello",
            flag:"a"
        }
    })
</script>
</html>