<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='./vue.js'></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue"/>
        <button v-on:click="handleClick">Sumbit</button>

        <ul>
            <!-- v-bind:propsname 用来传递props-->
             <!-- v-bind:propsname = :propsname-->
            <todo-item v-bind:content="item"
            v-bind:index="index"
            v-for="(item,index) in list"
            @delete="handleItemDelete(index)"></todo-item>
        </ul>
    </div>
</body>
<script>
    //全局注册组件
    // Vue.component("TodoItem",{
    //     props:['content'],
    //     template:"<li @click='handleItemClick'> {{content}} </li>"
    // })


    var TodoItem = {
        props:['content','index'],
        template:"<li @click='handleItemClick'> {{content}} </li>",
        methods:{
            handleItemClick:function(){
                this.$emit("delete",this.index)
            }
        }
    }

    var app = new Vue({
        el:'#app',
        //局部注册
        components:{
            TodoItem
        },
        data:{
            content:"hello world",
            inputValue:"hi",
            list:['lesson1','lesson2','lesson3']
        },
        methods:{
            handleClick:function(e){
                
                this.list.push(this.inputValue)
                this.inputValue = ''
            },
            handleItemDelete:function(index){
            
                this.list.splice(index,1)
            }
        }
    })

    setTimeout( () => {
        app.$data.content = "bye world"
    },2000)
</script>
</html>