<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue的插槽(slot)</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <child>
            <h1>插槽内容</h1>
        </child>

        <body-content>
            <div slot="header">header</div>
            <div slot="footer">footer</div>
        </body-content>

        <child-scope>
            <!--必须是template-->
            <template slot-scope="props"> 
                <h1>{{props.item}}</h1>
            </template>
        </child-scope>
    </div>
</body>

<script>
    Vue.component('child',{
        template:`<div>
            <p>Hello</p>
            <slot>默认内容</slot>
        </div>`

    })
    //具名插槽
    Vue.component('body-content',{
        template:`<div>
        <slot name="header">default header</slot>
            <div>Content</div>
            <slot name="footer"></slot>
        </div>`

    })

    //作用域插槽，被v-slot代替，已经废弃

    Vue.component('child-scope',{
        data:function(){
            return {
                list:[1,2,3,4]
            }
        },
        // <li v-for="item of list">{{item}}</li>
        template:`<div>
            <ul>
                <slot v-for="item of list" :item="item"> </slot>
            </ul>
        
        </div>`
    })

    var vm = new Vue({
        el:"#app"
    })
</script>
</html>