<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='./vue.js'></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="inputValue"/>
        <button v-on:click="handleClick">Sumbit</button>

        <ul>
            <li v-for="item in list">{{item}}</li>
        </ul>
    </div>
</body>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            content:"hello world",
            inputValue:"hi",
            list:['lesson1','lesson2','lesson3']
        },
        methods:{
            handleClick:function(e){
                
                this.list.push(this.inputValue)
                this.inputValue = ''
            }
        }
    })

    setTimeout( () => {
        app.$data.content = "bye world"
    },2000)
</script>
</html>